{% extends "products/base.html" %}
{% load static %}
{% load cache %}

{% block content %}

    <div class="container">
        <a class="btn btn-dark form-control mb-5 mt-5" href="{% url 'orders_app:order_list' %}" role="button">Back</a>
        {% include 'ordersapp/includes/inc_order_summary.html' %}

        <div class="order_form">
            <form action="" method="post">
                {% csrf_token %}
                <table class="table">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}

                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th class="{% cycle 'td1' 'td2' 'td3' 'td4' %} order formset_td">
                                        {{ field.label|capfirst }}
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}

                        <tr class="formset_row">
                            {% for field in form.visible_fields %}
                                <td class="{% cycle 'td1' 'td2' 'td3' 'td4' %} order formset_td">
                                    {% if forloop.first %}{% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}{% endif %}{{ field.errors.as_ul }}

                                    {% if field.name == 'price' %}
                                        {% if not field.value %}
                                            <span id="id_order_products-{{ forloop.parentloop.counter0 }}-price">0.00</span>
                                        {% else %}
                                            <span id="id_order_products-{{ forloop.parentloop.counter0 }}-price">{{ field.value }} </span>
                                        {% endif %}

                                    {% elif field.name == 'product' %}
                                        {% cache 120 form field.value %}
                                            {{ field }}
                                        {% endcache %}
                                    {% else %}
                                        {{ field }}
                                    {% endif %}


                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <button type="submit" value="Save" class="btn btn-primary form-control mt-3">Update
                </button>
            </form>
        </div>

    </div>
{% endblock %}
