{% extends 'admins/base.html' %}

{% block content %}

	<main>
		<div class="container-fluid">
			<h1 class="mt-4">Category List</h1>
			<div class="card mb-4">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
                                <th>Is Active</th>
							</tr>
							</thead>

							{% for category in categories %}
								<tr>
									<td>
										<a href="{% url 'admins_app:category_update' category.pk %}" style="color: dodgerblue">{{ category.name }}</a>
									</td>
									<td>{{ category.description }}</td>
									<td>{{ category.is_active }}</td>

								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
				<div class="card-footer">
					<a href="{% url 'admins_app:category_create' %}">
						<button class="btn btn-success">Create category</button>
					</a>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
